setuptools
Django>=5.2,<6.0
wheel
python-dotenv
djangorestframework
django-cors-headers
django-oauth-toolkit
gunicorn
psycopg2-binary
dj-database-url
whitenoise
djangorestframework-simplejwt
numpy==2.1.3
tensorflow==2.19.0
Pillow>=8.0.0